<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mongo Scraper</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper light-blue">
        <a href="/" class="brand-logo">Mongo-Scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if user}}
            <li><a id="logout" href="#logout">Log out</a></li>
          {{else}}
            <li><a href="/login">Log in</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    {{{ body }}}
  </div>
</body>
</html>

<script type="text/javascript">
$(document).ready(() => {
  $("#logout").on('click', () => {
    $.ajax("/logout", {
      type: 'POST',
      success: (response) => {
          window.location.href = '/';
      }
    })
  });
});
</script>
