{{#if user}}
  <div class="row">
    <div class="col s12">
    <table id="articles-table", class="highlight">
      <thead>
        <tr>
          <th>Headline</th>
          <th>Link</th>
          <th class="center-align">Saved</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    </div>
  </div>
{{/if}}

<script type="text/javascript">

  $(document).ready(() => {

    const articlesTableBody = $('#articles-table tbody');

    articlesTableBody.on('click', "tr" , (event) => {
      const articleId = $(event.currentTarget).attr("data-article-id");
      const articleUrl = $(event.currentTarget).attr("data-article-url");
      $(`#preview-${articleId} .modal-content`).append($("<iframe>", {
        src: articleUrl,
        width: "100%",
        height: "100%",
        frameborder: "0"
      }));
      $(`#preview-${articleId}`).modal('open');
    });

    $.ajax("/api/scrape", {
      type: "POST"
    });

    $.ajax("/api/articles", {
      type: "GET",
      success: (response) => {
        response.forEach((articleData, idx) => {
          console.log("Article Data: " + JSON.stringify(articleData));
          const newPreviewModal = (
            $("<div>", { id: `preview-${idx}`, class: "modal modal-fixed-footer" }).append([
              $("<div>", { class: "modal-content" }).append([
                $("<h5>", { text: `Article Preview: ${articleData.title}` })
              ]),
              $("<div>", { class: "modal-footer" }).append([
                $("<a>", {href: articleData.link, text: "Full Article", target: "_blank"})
              ])
            ])
          );
          const newTableRow = (
            $("<tr>", { 'class': 'article', 'data-article-id': idx, 'data-article-url': articleData.link }).append([
              $("<td>", { text: articleData.title }),
              $("<td>").append($("<a>", { text: "Link", href: articleData.link })),
              $("<td>", {class: "center-align"}).append($("<i>", { class: "material-icons", text: "star_outline"})),
              newPreviewModal
            ])
          );
          newTableRow.appendTo(articlesTableBody);
          $('.modal').modal();
        })
      },
      error: (response) => {
        return;
      }
    });
  });
</script>